- content_for(:title) { 'Купить авто в Минске. Объявления о продаже авто.' }
.landing
  .promo
    .row
      .span12
        %p.l1= link_to nil, 'https://github.com/PavelTyk/avmb'
        %p.l2 К сожалению это приложение уже не работает<br /><small>Исходный код приложения стал опенсорсным</small>
